body{
    margin: 0px;
    padding: 0px;
}
#gameContainer{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;    
}
/*body{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0px;
}
#gameContainer{
    position: absolute;
    min-height: 600px;    
}*/

